<!--The content below is only a placeholder and can be replaced.-->

<!--<div class="container"> 
  <app-content-projection>
  <div class="row">    
<div class="col-md-12" >
  <input type="text">
  <input type="button" class="btn btn-primary" value="ok">  
 </div> 
</div>
</app-content-projection>  
</div>


<app-local-refs></app-local-refs>-->
<div class="container-fluid marginc">
     
    
       <app-navbarcomp></app-navbarcomp>
    

  <div class="row marginSb">
    <div class="col-md-3">
      <app-side-bar></app-side-bar>
    </div>
    
    <div class="col-md-9">
      <div><h1>Dashboard</h1></div>
      <hr>
      <div class="row">
        
        <div class="col-md-3">
          <app-label1cmp></app-label1cmp>
        </div>
        <div class="col-md-3">
          <app-label1cmp></app-label1cmp>          
        </div>
        <div class="col-md-3">
          <app-label1cmp></app-label1cmp>
        </div>
        <div class="col-md-3">
          <app-label1cmp></app-label1cmp>
        </div>
      </div>
      <div class="row">
    <div class="col-md-12">

     <app-table-component></app-table-component>
    </div>

  </div>



      </div>
  </div>
</div>
  





<!--<app-side-bar></app-side-bar>-->