

<div class="container">
<div class="row">
  <div class="navbar nav-sidebar">
<div class="col-md-4">  
<a href="#">Overview <span class="sr-only">(current)</span>
</a>
</div>
<div class="col-md-1">
<a href="">Reports</a>
</div>
<div class="col-md-1">
<a href="">Analytics</a>
</div>
<div class="col-md-1">
<a href="">Export</a>
</div>
<div class="col-md-1">
<a href="">Nav item</a>
</div>
<div class="col-md-1">
<a href="">Nav item again</a>
</div>
<div class="col-md-1">
<a href="">One more nav</a>
</div>
<div class="col-md-1">
<a href="">Another nav item</a>
</div>
<div class="col-md-1">
<a href="">More navigation</a>
</div>

</div></div>
</div>